
body {
 
    background-color:  rgb(185,126,1);
    background-image: url(../public/images/logoYellow.jpeg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    /* background-blend-mode: soft-light ; */
    background-image: radial-gradient();
    margin: 0;
   
  }

html {
  /* min-height: 100%; */
  margin: 0;
}

.radial-gradient {
  background-image: radial-gradient(transparent 30%, rgb(200,83,2) 50%, rgb(200,83,2)50%);
  /* height: 100%; */
 
} 




nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 10px;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 30px;
  font-family: 'Mate SC', serif;
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}
.about-box-left {
  width: 300px;
  height: 600px;
  background-color: #ffffff 25%;
  color: rgba(0, 35, 122, 0.7);
  font-family: 'Mate SC', serif;
  font-size: 40;
  padding: 10px;
  margin: 70px;
  justify-content: center;
  text-align: center;
  float: right;
  position: top;
  
} 

.about-box-right {
  width: 300px;
  height: 600px;
  background-color: #ffffff 25%;
  color: rgba(0, 35, 122, 0.7);
  font-family: 'Mate SC', serif;
  font-size: 40;
  padding: 10px;
  margin: 70px;
  justify-content: left;
  text-align: center;
  
} 
.spotify-login {
  text-align: center;
  color: rgba(0, 35, 122, 0.7);
  font-family: 'Mate SC', serif;
  font-size: 70;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.submit-button {
  text-align: center;
  color: rgba(0, 35, 122, 0.7);
  font-family: 'Mate SC', serif;
  font-size: 100;
  font-weight: bolder;
  width: 70px;
  height: 50px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}
.input-bar {
  width: 400px;
  height: 30px;
}